# dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js build
.next/
out/
build/
dist/

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# env
.env*
!.env.example

# vercel
.vercel

# temporary
blitzdeals/
